.application-container {
    height: 100vh !important; /* Full viewport height */
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    width: 100%;
    height: auto; /* Set your preferred height */
}

.nws-logo {
    flex: 0 0 50%; /* Take up 50% of the width */
    display: flex;
    align-items: center;
}

.nws-logo img {
    max-width: 100%; /* Ensure the image scales */
    height: auto; /* Maintain aspect ratio */
}

.application-content {

}